.photo-grid {
  max-width: 1184px;
  display: grid;
  margin: 0 auto 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
 }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    margin-bottom: 88px;
 }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    margin-bottom: 64px;
 }
}
