.footer__links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1279px) {
  .footer__links {
    margin-left: 48px;    
  }
}
@media screen and (max-width: 1023px) {
  .footer__links {
    margin-left: 24px;       
  }
}
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-left: 16px;  
  }
}
