.footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1184px;
}
@media screen and (max-width: 767px) {
    .footer  {
        flex-direction: column;
      }
    }